html, body {
    margin: 0;
    padding: 0;
    font-family: "Muli";
    background-color: #0f1923;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: monospace;
}

@import "./btn.css";

.main, h1 {
    width: 100%;
    max-width: 800px;
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

h1 {
    margin-top: 2rem;
    margin-left: 0;
    background-color: transparent;
    color: #eee;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.25rem;
}

h1 small {
    font-size: 0.5em;
    opacity: 0.5;
}

.logs, .backups {
    height: 150px;
    overflow: auto;
    background-color: rgba(0,0,0, 0.05);
    border: 1px solid black;
}

.backups {
    height: auto;
    min-height: 1rem;
    position: relative;
}

.backups .waiting {
    color: yellow;
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

.backups .valid {
    color: green;
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}

.backups .invalid {
    color: red;
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.3);
}

.backups .name {
    border: 1px solid black;
    padding: 0 0.25rem;
    border-radius: 0.15rem;;
    font-size: 0.75rem;
    height: 1rem;
    line-height: 1rem;
    display: inline-block;;
}

.progress {
    height: 2rem;
    border: 1px solid #aaa;
    background-color: rgba(0,0,0, 0.5);
    position: relative;
    line-height: 2rem;
    padding: 0 0.5rem;
    text-transform: capitalize;
    margin-top: 1rem;
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    transition: width 300ms ease-in;
    background-color: rgba(255,255,255, 0.5);
}

.progress-pct {
    position: absolute;
    right: 0.5rem;
    top: 0;
    height: 100%;
}

.progress-meta {
    margin-top: 0;
}

.status {
    position: relative;
}


.actions {
    display: flex;
    align-items: center;
}

.config {
    border: 1px solid #000;
    padding: 0.5rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.config small {
    margin-top:  0.5rem;
    text-align: right;
    display: block;
}

.config small.error {
    color: tomato;
}

.config small.success {
    color: green;
}

.config-field label {
    display: block;
}

.config-field input {
    display: block;
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    padding: 0;
    display: block;
    font-size: 1rem;
    border-bottom: 1px solid #000;
}

pre {
    border: 1px dotted #000;
    border-radius: 0.25rem;
    margin: 0;
    padding: 1rem;
    background-color: rgba(0,0,0, 0.05);
    max-height: 400px;
    overflow: auto;
}

.log .time {
    opacity: 0.4;
}

.log {
    padding: 0.25rem 0;
    padding-left: 1rem;
    position: relative;
    opacity: 0.75;
    transition: opacity 100ms;
}

.log:hover {
    opacity: 1;
}

.log:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0.25rem;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.5rem;
    background-color: #000;
}

.log:nth-child(even) {
    background-color: rgba(0,0,0, 0.1);
}

.log.log-info:before {
    background-color: #5c5ce8;
}

.log.log-error:before {
    background-color: #b91422;
}

.log.log-success:before {
    background-color: green;
}

.log-actions {
    position: absolute;
    right: 0.5rem;
    top: 0;
    height: 100%;
    line-height: 1.75rem;
    cursor: pointer;
}

.transfered-pct {
    width: 0;
    opacity: 0.2;
    width: 30%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
}